<main class="contact">
  <div class="container">
    <video src="assets/contact/1.mp4" autoplay loop></video>

   <form>
    <div class="name">
      <label for="username"><i class="fa-solid fa-user"></i></label>
      <input type="text" placeholder="UserName" id="username" >

    </div>


    <div class="email">

      <label for="email"><i class="fa-solid fa-envelope"></i></label>
      
      <input type="email" name="email" id="email" placeholder="Email">

    </div>


    <div class="msg">
      <label for="msg"><i class="fa-solid fa-message"></i></label>

      <textarea name="msg" id="msg" placeholder="Message"></textarea>
    </div>

    <button type="submit">Send Message</button>
   </form>


  </div>
</main>








<!-- // #f2f6f8 -->