<main>
    <div class="container">
        <div class="img">
            <h2>About US</h2>
            <img src="assets/about/3.jpeg" alt="bg" class='bg' >
            <img src='assets/about/logo.PNG' alt='logo' class='logo'>
        </div>

        <div class="content">
            <p>Welcome to RunX – your perfect destination for style and quality!

                We at Runx offer you a unique shopping experience that combines modern fashion with high quality. Since our establishment in 2024, our goal has been to provide the latest fashion at the best prices to meet your personal needs and reflect your good taste.
                
                At Runx we believe that every piece of clothing is an expression of your personality. Therefore, we offer you a variety of clothes to suit all tastes and occasions, from everyday fashion to formal wear, with great attention to design details and the quality of materials.
                
                What sets us apart?
                
                Variety and trendy designs: We offer you a range of clothes to suit every taste and size.
                Unparalleled quality: We make sure to choose premium materials to ensure comfort and durability.
                Competitive prices: We believe that fashion should be affordable for everyone, so we offer reasonable prices without compromising on quality.
                Excellent customer service: We are here to answer your questions and ensure an enjoyable shopping experience.
                Whether you're looking to update your wardrobe or want to add a new twist to your look, we're here to help you get everything you need. We are excited to explore the world of fashion with you!
                
                Join me</p>
        </div>
    </div>
  
</main>