@import '../../../styles/main';

.scroll_bar{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width:70px;
    height: 70px;
    border-radius: 50%;
    background-color: $bg_button;
    box-shadow: $box_shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 500000;

    .scroll_val{
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;

    }


}