<main class="landing">
  <div class="container">
    <aside>
      <h3>اهلا بكم في <span>RunX</span></h3>
      <p>
        المكان الذي يجمع بين الأناقة والراحة في عالم الأحذية الرياضية والملابس
        العصرية. نحن نقدم لك أحدث الترانجات والكوتشيات من أفضل العلامات التجارية
        العالمية والمحلية، والتي تم اختيارها بعناية لتلبية جميع احتياجاتك
        الرياضية والعملية. سواء كنت تبحث عن ترنج رياضي عصري للتمارين أو كوتشي
        مريح يناسب أسلوب حياتك النشط، ستجد لدينا مجموعة متنوعة من الخيارات التي
        توفر لك الأداء المثالي مع لمسة من الأناقة. يتميز موقعنا بسهولة التصفح،
        حيث يمكنك العثور على المنتجات التي تلائم ذوقك وحجمك بضغطة زر. ماذا نقدم؟
        أحدث التصاميم: تصفح مجموعة من الترانجات العصرية والأنيقة التي تجمع بين
        الراحة والتصميم العصري. أحذية رياضية مريحة: اكتشف مجموعة من الكوتشيات
        التي توفر لك راحة استثنائية وأداء فائق. جودة عالية: منتجاتنا مصنوعة من
        مواد عالية الجودة لتضمن لك الاستدامة والراحة طوال اليوم. سهولة التسوق:
        تجربة شراء بسيطة وسهلة مع خيارات دفع متنوعة وشحن سريع. عروض مميزة: استفد
        من العروض والخصومات الحصرية على أفضل المنتجات. لماذا تختارنا؟ شحن سريع
        وآمن إلى جميع الأماكن. سياسة إرجاع مرنة تضمن لك راحة البال. خدمة عملاء
        متوفرة على مدار الساعة لتلبية احتياجاتك.
      </p>
    </aside>

    <swiper-container
      class="swiper_content"
      pagination-clickable="true"
      pagination="true"
      style="
        --swiper-pagination-bullet-width: 12px;
        --swiper-pagination-bullet-height: 12px;
        --swiper-theme-color: #04364a;
      "
      autoplay="true"
      autoplay-delay="1000"
      loop="true"
      navigation="true"
    >
      <swiper-slide
        ><img src="assets/clothes/clo1/4.jpeg" alt="clothes"
      /></swiper-slide>
      <swiper-slide
        ><img src="assets/clothes/kotchee/3.jpeg" alt="clothes"
      /></swiper-slide>
      <swiper-slide
        ><img src="assets/Tshirt/4.jpeg" alt="clothes"
      /></swiper-slide>
      <swiper-slide
        ><img src="assets/pantes/2.jpeg" alt="clothes"
      /></swiper-slide>
      <swiper-slide
      ><img src="assets/coat_belts/4.jpeg" alt="clothes"
    /></swiper-slide>
    <swiper-slide
    ><img src="assets/access/2.jpeg" alt="clothes"
  /></swiper-slide>
    </swiper-container>
  </div>
</main>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- Trunks -->

<section id="trunks">
  <div class="container">
    <div class="glopal_heading">
      <h2>Winter Trunks</h2>
      <p>
        Stay warm and stylish with our cozy winter tracksuits. Made from soft,
        fleece-lined fabric, they offer comfort and warmth for colder days.
        Perfect for casual wear, workouts, or lounging, these tracksuits provide
        a great fit and flexibility.
      </p>
    </div>

    <div class="items">
      <article class="item" *ngFor="let item of allProduct">
        <ng-container *ngIf="item.catogery == 'trunks'">
          <img [src]="item.image" alt="item" *ngIf="item.image"  />
          <div class="content">
            <h3>{{item.title}}</h3>
            <p>
            {{item.desc}}
            </p>

            <div class="add_price">
              <button class="addCart">Add To Cart</button>
              <span class="price">{{ 20 | currency }}</span>
            </div>
          </div>
        </ng-container>

      </article>
<!--
      <article class="item">
        <img src="assets/clothes/clo1/4.jpeg" alt="item" />
        <div class="content">
          <h3>ChillBreaker Coat</h3>
          <p>
            Perfect for keeping warm on cold days, winter jackets combine
            comfort and style. Made of heat-insulating materials to give you
            complete protection from cold weather.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img
          src="assets/clothes/woman_clothes/1.jpeg"
          class="img_size"
          alt="item"
        />
        <div class="content">
          <h3>Elegant Frost Coat</h3>
          <p>
            Perfect for keeping warm on cold days, winter jackets combine
            comfort and style. Made of heat-insulating materials to give you
            complete protection from cold weather.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img
          src="assets/clothes/woman_clothes/5.jpeg"
          class="img_size"
          alt="item"
        />
        <div class="content">
          <h3>Luxe Winter Wrap</h3>
          <p>
            Perfect for keeping warm on cold days, winter jackets combine
            comfort and style. Made of heat-insulating materials to give you
            complete protection from cold weather.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article> -->
    </div>
  </div>
</section>

<!-- End Trunks -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- Shoes -->

<section id="shoes">
  <div class="container">
    <div class="glopal_heading">
      <h2>The Best Shoes</h2>
      <p>
        "Comfortable and fashionable shoes designed to suit all times and
        occasions. It provides you with comfort and style at every step.
      </p>
    </div>

    <div class="items">
      <article class="item" *ngFor="let item of allProduct">


        <ng-container *ngIf="item.catogery == 'shoes' " >
          <img [src]="item.image"  class="img_size" alt="item" />
          <div class="content">
            <h3>{{item.title}}</h3>
            <p>
            {{item.desc.substring(0,50)}}
            </p>

            <div class="add_price">
              <button class="addCart">Add To Cart</button>
              <span class="price">{{ 20 | currency }}</span>
            </div>
          </div>
        </ng-container>

      </article>

      <!-- <article class="item">
        <img src="assets/clothes/kotchee/2.jpeg" alt="item" />
        <div class="content">
          <h3>Adidas Ultraboost</h3>
          <p>
            It features Boost technology that provides exceptional comfort with
            every step, making it a great choice for athletes or everyday use.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/clothes/kotchee/3.jpeg" class="img_size" alt="item" />
        <div class="content">
          <h3>Puma Suede</h3>
          <p>
            Modern and elegant design with excellent comfort, suitable for daily
            wear and characterized by high quality and easy coordination with
            clothes
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/clothes/kotchee/5.jpeg" class="img_size" alt="item" />
        <div class="content">
          <h3>New Balance 990</h3>
          <p>
            Durable and comfortable sports kochi ideal for walking and daily
            activities, it provides good foot support thanks to its innovative
            technologies.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article> -->
    </div>
  </div>
</section>
<!-- End Shoes -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 -->
<!-- Start Tshirt -->

<section id="Tshirt">
  <div class="container">
    <div class="glopal_heading">
      <h2>The Best Tshirt</h2>
      <p>
        A classic, comfortable t-shirt made from soft cotton fabric. It features
        a simple design, with a round neckline and short sleeves, perfect for
        everyday wear.
      </p>
    </div>

    <div class="items">
      <article class="item">
        <img src="assets/Tshirt/5.jpeg" alt="item" />
        <div class="content">
          <h3>Plain T-shirt</h3>
          <p>
            A versatile, plain t-shirt available in various colors. Its clean,
            minimalistic style makes it easy to pair with any outfit, whether
            casual or layered under a jacket.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/Tshirt/2.jpeg" alt="item" />
        <div class="content">
          <h3>Graphic T-shirt</h3>
          <p>
            A stylish t-shirt with unique prints or designs on the front,
            perfect for expressing personality or interests. It’s casual yet
            fashionable, great for a relaxed.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/Tshirt/3.jpeg" class="img_size" alt="item" />
        <div class="content">
          <h3>V-neck T-shirt</h3>
          <p>
            A variation of the basic t-shirt with a V-shaped neckline. It offers
            a slightly more stylish and relaxed look compared to the traditional
            round neck.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/Tshirt/4.jpeg" class="img_size" alt="item" />
        <div class="content">
          <h3>Slim-fit T-shirt</h3>
          <p>
            A modern t-shirt with a fitted cut that hugs the body, providing a
            sleek, streamlined look. Ideal for those who prefer a more tailored
            fit.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<!-- End  TShirt-->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 -->

<section id="pantes">
  <div class="container">
    <div class="glopal_heading">
      <h2>The Best Pantes</h2>
      <p>
        Pants are an essential part of everyday clothing for both men and women,
        and are characterized by their diversity in shapes and styles to suit
        different occasions. Pants can be described in many ways depending on
        their design, material and use, and here are some distinctive
        descriptions of pants
      </p>
    </div>

    <div class="items">
      <article class="item">
        <img src="assets/pantes/1.jpeg" alt="item" />
        <div class="content">
          <h3>Cloth Pants</h3>
          <p>
            Pants made of soft fabrics such as polyester or linen, suitable for
            hot weather or formal occasions. It has a straight or tight fit .
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/pantes/2.jpeg" alt="item" />
        <div class="content">
          <h3>Sweet Pant</h3>
          <p>
            Sweatpants in light or plush fabric like stretchy fabrics, come in a
            loose or relaxed fit. It is best worn during exercise or daily
            activities.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/pantes/3.jpeg" class="img_size" alt="item" />
        <div class="content">
          <h3>Palzo Pant</h3>
          <p>
            Pants with a wide waist-to-ankle silhouette, suitable for casual or
            luxurious looks depending on the choice of fabric.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/pantes/4.jpeg" class="img_size" alt="item" />
        <div class="content">
          <h3>Soot Pants</h3>
          <p>
            Formal pants in luxurious fabric such as wool or linen, featuring a
            straight cut and perfect for formal or business occasions.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<!-- End Pantes-->
-->

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 -->

<section id="belts">
  <div class="container">
    <div class="glopal_heading">
      <h2>The Best Coat_Belts</h2>
      <p>
        Sherbet is available in a variety of materials and shapes and The strap
        can be classified based on material, design, and use. Here are the best
        descriptions of belt types:
      </p>
    </div>

    <div class="items">
      <article class="item">
        <img src="assets/coat_belts/3.jpeg" alt="item" class="img_size" />
        <div class="content">
          <h3>Cotton Sorbet</h3>
          <p>
            Soft and comfortable sorbet made of natural cotton, which absorbs
            moisture and provides all-day comfort. Ideal for everyday wear in
            mild weather.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/coat_belts/1.jpeg" alt="item" />
        <div class="content">
          <h3>Leather belt</h3>
          <p>
            The belt is made of genuine or faux leather, which is most common in
            formal and casual wear. It has a sleek and solid appearance
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/coat_belts/4.jpeg" class="img_size" alt="item" />
        <div class="content">
          <h3>Sports Sherbet</h3>
          <p>
            Specially designed for sports activities, sorbet is made of flexible
            materials such as polyester or synthetic fibers that absorb sweat

          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/coat_belts/2.jpeg" class="img_size" alt="item" />
        <div class="content">
          <h3>Sports Belt</h3>
          <p>
            A belt specially designed for sports activities or exercise. It is
            often made of flexible materials such as neoprene or durable fabric
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- Start Watch_belts -->

<section id="access">
  <div class="container">
    <div class="glopal_heading">
      <h2>The Best Accessories</h2>
      <p>
        Elegant pieces of jewelry worn around the neck, available in various
        styles, from delicate chains to bold statement designs.
      </p>
    </div>

    <div class="items">
      <article class="item">
        <img src="assets/access/1.jpeg" alt="item" />
        <div class="content">
          <h3>Luxury Watches</h3>
          <p>
            Watches are made of high-end materials such as gold and platinum, featuring intricate designs and precision tools. Usually highly valued
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/access/3.jpeg" alt="item" class="img_size"/>
        <div class="content">
          <h3>Sunglasses</h3>
          <p>
            Glasses designed to protect the eyes from harmful UV rays. It comes in a variety of designs and colors, and is considered a modern accessory
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/access/2.jpeg" class="img_size" alt="item" />
        <div class="content">
          <h3>Luxury Watches</h3>
          <p>
            Watches are made of high-end materials such as gold and platinum, featuring intricate designs and precision tools. Usually highly valued
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>

      <article class="item">
        <img src="assets/access/4.jpeg" class="img_size" alt="item" />
        <div class="content">
          <h3>Oversized Glasses</h3>
          <p>
            Glasses with large and modern frames, give a distinctive and luxurious look. Used as a fashion accessory in many everyday looks Usually highly valued.
          </p>

          <div class="add_price">
            <button class="addCart">Add To Cart</button>
            <span class="price">{{ 20 | currency }}</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<!-- End Watch_belts -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 -->
