<main class="cart">
  <div class="container">
    <div class="left">
      <div class="head">
        <div class="icon"><i class="fa-solid fa-left-long"></i></div>
        <h2>Continue Shopping</h2>
      </div>

      <div class="body">
        <h3>Shopping Cart</h3>
        <p>You have 4 Items In Your Cart</p>
      </div>


      <div class="foot">


        <div class="foot_box">
            <div class="left_foot">
                <img src="assets/access/3.jpeg" alt="access">
                <div class="content">
                    <h4>Rolex</h4>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
            </div>
    
    
            <div class="right_foot">
               <p class="quantity">2</p>
               <p class="price">200$</p>
               <i class="fa-solid fa-trash-can"></i>
            </div>
        </div>



        
        <div class="foot_box">
            <div class="left_foot">
                <img src="assets/access/3.jpeg" alt="access">
                <div class="content">
                    <h4>Rolex</h4>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
            </div>
    
    
            <div class="right_foot">
               <p class="quantity">2</p>
               <p class="price">200$</p>
               <i class="fa-solid fa-trash-can"></i>
            </div>
        </div>



        
        <div class="foot_box">
            <div class="left_foot">
                <img src="assets/access/3.jpeg" alt="access">
                <div class="content">
                    <h4>Rolex</h4>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
            </div>
    
    
            <div class="right_foot">
               <p class="quantity">2</p>
               <p class="price">200$</p>
               <i class="fa-solid fa-trash-can"></i>
            </div>
        </div>
     
      </div>
    </div>


    <div class="right">
        <div class="head">
            <h4>Card Details</h4>
            <img src="assets/cart/person.jpeg" alt="person">

        </div>


        <div class="body">
                
            <form>
                <h5>Card Type</h5>
                <div class="items">
                    <div class="item">
                        <label for="visa1">
                            <img src="assets/cart/visa.png" alt="visa">
                        </label>
                        <input type="radio" id="visa1" style="display: none;">
                    </div>
                    <div class="item">
                        <label for="visa2">
                            <img src="assets/cart/amex.png" alt="amex">
                        </label>
                        <input type="radio" id="visa2" style="display: none;">
                    </div>
                </div>


                <div class="box">
                    <label for="name">Name On Card</label>
                    <input type="text" id="name" placeholder="Name">

                </div>

                
                <div class="box">
                    <label for="number">Card Number</label>
                    <input type="text" id="number" placeholder="0000 0000 0000 0000">
                </div>


                <div class="box">
                    <label for="date">Date</label>
                    <input type="date" id="date" placeholder="12/24">
                </div>


                <hr>

                <div class="totals">

                    <div class="subtotal">
                        <h4>Sub Total</h4>
                        <p>$300</p>
                    </div>

                    <div class="taxes">
                        <h4>taxes</h4>
                        <p>$0</p>
                    </div>


                    <div class="Total">
                        <h4>Total</h4>
                        <p>$300</p>
                    </div>
                </div>




                <button type="submit">
                    CheckOut
                    <i class="fa-solid fa-right-long"></i>
                </button>

            </form>

        </div>
    </div>
  </div>
</main>
